*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*

#Un-necessary files from docs 
#(https://mmistakes.github.io/minimal-mistakes/docs/quick-start-guide/)
/.editorconfig
/.gitattributes
/.github
/docs/
/test/
/minimal-mistakes-jekyll.gemspec
/screenshot-layouts.png
/screenshot.png
